<div class="row">
  
  <div class="col-md-8">
    <div class="jumbotron">
    <h1>W3C TAG</h1>
    
    <p>
      The <strong>Technical Architecture Group</strong> documents the architecture of the World Wide Web and assists the community in interpreting it. It is composed of engineers both elected by the membership of the W3C and appointed by Tim Berners-Lee, working to safeguard and extend the Web through coordination, collaboration, and review.
    </p>
    <a class="btn btn-default" href="http://www.w3.org/2001/tag/" role="button">Learn More</a>
    </div>
  </div>

  <div class="col-md-4 hidden-sm hidden-xs">
    <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/w3ctag" data-widget-id="689315588313714689" data-chrome="nofooter noborders" data-tweet-limit="2">Tweets by @w3ctag</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
</div>