body {
  margin-top: 75px;
  margin-bottom: 2em;
  height: 100%;
}
*[id]:before { 
  display: block; 
  content: " "; 
  margin-top: -75px; 
  height: 75px; 
  visibility: hidden; 
}
.navbar-left {
  float: left ! important;
}
.navbar-left img {
  height: 50px;
  padding: 0;
}
.navbar-right {
  padding-right: 15px;
}
.navbar-fixed-top {
  background-position: 50% 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #044a81;
}
.navbar-default .navbar-nav>li>a {
  color: white;
}
.navbar-default .navbar-brand {
  color: white;
}
.disclaimer {
  font-size: smaller;
  margin: 0;
  padding-top: .25em;
  width: 100%;
  text-align: center;
  display: block;
  position: fixed;
  bottom: 0;
  color: #004c82;
}

