body {
  margin-top: 75px;
  height: 100%;
}
*[id]:before { 
  display: block; 
  content: " "; 
  margin-top: -75px; 
  height: 75px; 
  visibility: hidden; 
}
.navbar-right {
  padding-right: 15px;
}
.navbar-fixed-top {
    background-image: url(/asset/w3c.png);
    background-position: 50% 100%;
    background-size: cover;
    background-repeat: no-repeat;
  background-color: rgba(32,32,32,0.8);
}
.navbar-default .navbar-nav>li>a {
  color: white;
}
.navbar-default .navbar-brand {
  color: white;
}