html {
  position: relative;
  min-height: 100%;
}
body {
  margin-top: 75px;
  margin-bottom: 40px;
  height: 100%;
}
*[id]:before { 
  display: block; 
  content: " "; 
  margin-top: -75px; 
  height: 75px; 
  visibility: hidden; 
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  
  font-size: smaller;
  width: 100%;
  padding-top: 1em;
  text-align: center;
  color: #004c82;
  */
}
.twtr-icon {
  fill: white;
}