#membersList {
	position: relative;
	--year-fr: calc(100% / var(--years));
	--month-fr: calc(var(--year-fr) / 12);
	--day-fr: calc(var(--month-fr) / 31);

	width: 94vw;
	counter-reset: participant;

	margin-left: calc(-1 * (47vw - var(--container-width) / 2));
}

@media (max-width: 1600px) {
	#membersList thead th + th {
		writing-mode: vertical-lr;
	}
}

.terms {
	position: relative;
}

#membersList table {
	position: relative;
	table-layout: fixed;
	border-spacing: 0;
}

#membersList tbody tr:nth-child(odd) {
	background: hsl(220 10% 97%);
}

#membersList tbody tr:hover {
	background: hsl(220 10% 93%);
}

#membersList thead th {
	--padding: .3em;
	padding: var(--padding);
	word-break: break-all;
}

	#membersList thead th + th::before {
		content: "";
		position: absolute;
		margin-left: calc(-1 * var(--padding));
		top: 0;
		bottom: 0;
		width: 1px;
		background: hsl(220 10% 50% / .3);
	}

#membersList th.name {
	padding: .1em;
	white-space: nowrap;
	counter-increment: participant;
}

	#membersList th.name::before {
		content: counter(participant) ". ";
		opacity: .5;
	}

#membersList th:first-child {
	width: 17em;
}

#membersList td.terms > div {
	display: grid;
	grid-template-columns: repeat(calc(var(--years) + 1), 1fr);
}

.term {
	--_sy: calc(var(--sy) - 2001);
	--_ey: calc(var(--ey) - 2001);
	--_sm: calc(var(--sm) - 1);
	--_em: calc(var(--em) - 1);
	--start: calc(var(--day-fr) * var(--sd) + var(--month-fr) * var(--_sm) + var(--_sy) * var(--year-fr) );
	--end: calc(var(--day-fr) * var(--ed) + var(--month-fr) * var(--_em) + var(--_ey) * var(--year-fr) );

	position: absolute;
	top: 50%;
	left: var(--start);
	transform: translateY(-50%);
	width: calc(var(--end) - var(--start));
	grid-column-start: calc(1 + var(--_sy));
	grid-column-end: calc(1 + var(--_ey));
	box-sizing: border-box;
	padding: 0 .3em;
	font-size: 70%;
	font-weight: bold;
	color: white;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	background: hsl(220 10% 70%) linear-gradient(to right, white, hsl(0 0% 0% / .1) 2px, transparent);
	border-radius: 1px;
}

.term.appointed {
	background-color: hsl(195 70% 60%);
}

.term.elected,
.term.auto-elected {
	background-color: hsl(80 60% 45%);
}

.term.staff-contact {
	background-color: hsl(350 40% 70%);
}

.term.resigned {
	border-right: 3px solid hsl(0 80% 45%);
}